@import "../template/mixins";
@import "../template/settings";

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";

$tablet: 'screen and (max-width: 1024px)';
$mobile: 'screen and (max-width: 600px)';

.title-slide h2 {
  color: darken( $fgColor, 20% );
  font-family: $mainFont;
  font-size: $heading3Size;
  font-weight: normal;
}
.inverted body {
  background-color: $accentColor;
  color: $backgroundColor;

  .reveal * {
    color: $backgroundColor;
  }
}
.light-background {
  color: $darkAccentColor;

  .reveal {
    h1, h2, h3, h4, h5, h6,
    p, ul, ol {
      color: $darkAccentColor;
      text-shadow: none; //1px 1px 10px #fff;
    }
    footer {
      a {
        color: $invertedFooterColor;
      }
      span {
        color: $invertedFooterBulletColor;
      }
    }
  }
}
.inverted {
  .reveal {
    footer, footer span {
      color: $darkAccentColor;
    }
  }
}
.dark body {
  background-color: darken( $bgColor, 20% );
}
.reveal {
  .h1-style {
    @extend h1;
  }
  .h2-style {
    @extend h2;
  }
  .h3-style {
    @extend h3;
  }
  .h4-style {
    @extend h4;
  }
  .larger {
    font-size: 1.25em;
    li {
      margin-bottom: 0.25em;
    }
  }
  p.larger {
    font-size: 1.45em;
  }
  .warning {
    background-color: red;
    color: black;
    padding: 0.15em;
    position: absolute;
    top: 630px;
    width: 100%;
  }
  a {
    text-decoration: $linkDecoration;
  }
  .subhead {
    @extend h4;
    font-style: italic;
    font-weight: bold;
  }
  .h2-style.subhead {
    @extend h2;
  }
  .h3-style.subhead {
    @extend h3;
  }
  .all-caps {
    text-transform: uppercase;
  }
  .visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  ul.no-bullets {
    list-style: none;
  }
  .recap {
    font-size: 1.1em;
    li {
      margin-bottom: 0.5em;
    }
  }
  ul.defs {
    li {
      margin-bottom: 1em;
    }
  }
  .progress {
    background-color: $darkAccentColor;
    height: 15px;

    span {
      background: $fgColor;
      box-shadow: 2px 1px 3px #666;
    }
  }
  .controls {
    bottom: 110px;

    button:focus {
      outline: 3px solid $darkAccentColor;
    }
  }
  footer {
    bottom: 0px;
    left: 0;
    font-family: $footerFont;
    font-size: $footerFontSize;
    font-weight: $footerFontWeight;
    height: auto;
    position: fixed;
    padding-bottom: 30px;
    text-align: left;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 1;

    * {
      text-shadow: none;
    }
    .title-slide &,
    .hide-footer & {
      opacity: 0;
      visibility: hidden;
    }

    .copyright {
      display: inline-block;
      padding: 5px 15px;
      vertical-align: middle;
    }
    a {
      color: $footerColor;
    }
    .footer-link {
      display: block;
      float: right;
      padding: 5px 15px;
      position: relative;
      z-index: 1;
    }
    [aria-hidden=true] {
      color: $footerBulletColor;
      margin: 0 4px;
    }

    @media #{$mobile} {
      display: none;
    }
  }

  pre code {
    font-family: Menlo, Courier, monospace;
    max-height: 520px;
    padding: 1.5em 1em 1em;
    position: relative;
  }
  pre code:before {
    background-color: $accentColor;
    border-radius: 0 0 25% 25%;
    color: $darkAccentColor;
    display: block;
    right: 0;
    padding: 0.5em;
    position: absolute;
    top: 0;
  }
  pre code.javascript:before,
  pre code.js:before {
    content: 'JS';
  }
  pre code.jsx:before,
  pre code.jsx.javascript:before {
    content: 'JSX';
  }
  pre code.css:before {
    content: 'CSS';
  }
  figure figcaption {
    font-size: 0.7em;
    margin: 0.5em 0 0;
  }
  figure.code {
    box-sizing: border-box;
    margin: 0 auto 0.5em auto;
    position: relative;
    width: 95%;

    *, *:before, *:after {
      box-sizing: border-box;
    }
    figcaption {
      background-color: $codeBgColor;
      border-bottom: 1px solid #ccc;
      color: #b7b6b4;
      font-size: 0.5em;
      font-style: normal;
      font-weight: normal;
      padding: 0.5em;
      text-align: left;
      width: 100%;
    }
    pre {
      background-color: $codeBgColor;
      box-shadow: none;
      margin-bottom: 0;
      margin-top: 0;
      width: 100%;
    }
  }
  .regular-case {
    text-transform: none;
  }
  .subhead {
    font-style: italic;
    @extend .regular-case;
  }
  .minimize {
    font-size: 60%;
  }
  .plain {
    background-color: transparent;
  }
  .emoji {
    font-size: 300%;
  }
  blockquote cite {
    display: block;
    margin-top: 0.5em;
  }
  .smaller {
    font-size: 65%;
    margin: 0;
  }
}
/*********************************************
 * LAYOUTS
 *********************************************/
.reveal li .twoThirdsCol {
  padding-top: 2%;

  small {
    clear: both;
    display: block;
    text-align: center;
  }
}
.reveal .wideCol {
  vertical-align: top;
  width: 60%;

  &.twoThirdsCol {
    float: left;
  }
  figure.code {
    width: 100%;
  }
}
.reveal .skinnyCol {
  vertical-align: top;
  width: 38%;

  &.twoThirdsCol {
    float: left;
    margin-right: 2%;
  }
}
.reveal .twoThirdsCol pre {
  font-size: .59em;
  margin-top: 0;
  width: 100%;

  code {
    overflow: hidden;
  }
}
.reveal .inset {
  margin: 0 auto;
  width: 85%;
}
.reveal .insetTop {
  margin-top: 1em;
}
.reveal .halfCol {
  display: inline-block;
  vertical-align: top;
  width: 46%;
  
  .code pre code {
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
  }
}
.reveal figure.halfCol {
  margin-top: 0;

  img {
    margin-top: 0;
  }
}
.reveal .or {
  position: relative;

  &.top {
    margin-top: 2em;

    &:before {
      color: #c0c0c0;
      content: 'OR';
      font-size: 0.6em;
      position: absolute;
      left: 50%;
      top: -2.5em;
      z-index: 1;
      height: 1.5em;
    }
  }
}
.reveal .halfCol pre code {
  overflow: hidden;
}
.reveal .wordcloud {
  > * {
    list-style: none;
    position: absolute;
  }
  .size1 {
    font-size: 4em;
  }
  .size2 {
    font-size: 3em;
  }
  .size3 {
    font-size: 2.5em;
  }
  .size4 {
    font-size: 2em;
  }
  .grid {
    left: -20px;
    top: -100px;
  }
  .flexbox {
    left: 40px;
    top: 100px;
  }
  .focus-visible {
    left: 460px;
    top: 150px;
  }
  .focus-within {
    left: 60px;
    top: 300px;
  }
  .css-animations {
    right: 0px;
    top: 0px;
  }
  .reduced-motion {
    top: 440px;
    left: 70px;
  }
  .asterisk {
    top: 200px;
    left: 1300px;
  }
  .css-in-js {
    top: 320px;
    right: 40px;
  }
}
.reveal .layeredFragments {
  margin: 0 auto;
  min-height: 1000px;
  position: relative;
  width: 100%;

  &>img, 
  &>figure {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    width: 100%;
  }
  &.wordcloud {
    position: absolute;
    top: 0;

    .fragment {
      position: absolute;
    }
  }
}
.reveal {
  .responsive-video {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    width: 100%;

    iframe, object, embed, video {
      position:absolute;
      top: 0;
      left: 0;
      max-height: 720px;
      width: 100%;
      height: 100%;
    }
  }

  p code,
  li code,
  h2 code,
  h3 code,
  h4 code {
    background-color: rgba(0,0,0,0.25);
    display: inline-block;
    font-style: normal;
    padding: 0.005em 0.15em;
  }
  button, [role=button] {
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    display: inline-block;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1;
    padding: 0.25em;
  }
}
/*********************************************
 * Custom Slides
 *********************************************/
.reveal {
  dialog {
    background-color: $codeBgColor;
    color: $fgColor;
  }
  dialog #closeBtn {
    position: absolute;
    right: 0;
    top: 0;

    &:before {
      content: 'X';
    }
  }
  dialog::backdrop { /* native */
    background-color: rgba(0,0,0,0.7);
  }
  dialog + .backdrop { /* polyfill */
    background-color: rgba(0,0,0,0.7);
  }
}
 .focus-visible-example {
   input[type=checkbox] {
      transform-origin: bottom;
      transform: scale(2.5, 2.5);
   }
  &:not(.focus-visible-enabled) {
    :focus {
      outline: 4px solid greenyellow;
    }
  }
  &.focus-visible-enabled :focus:not(.focus-visible) {
    outline: 0;
  }
}
:focus-visible,
data-focus-visible-added {
  outline: 3px solid greenyellow;
}
.focus-within-example {
  display: inline-block;

  &:focus-within {
    background-color: #625e5e;

    a {
      color: white;
    }
  }
  ul {
    margin: 0;
    padding: 1em;
  }
  li {
    list-style: none;
    display: inline-block;
    margin: 0 0.5em;

    a {
      text-decoration: none;
    }
    a:focus {
      background-color: greenyellow;
      color: black;
    }
  }
}
.tabSwitcher,
.tabSwitcher-ARIA {
  display: block;
  font-size: 0.7em;
  height: 520px;
  margin: 2em auto 0;
  position: relative;
  text-align: left;
  width: 80%;

  * {
    box-sizing: border-box;
  }

  button[role="tab"] {
    border-radius: 0;
    font-family: $mainFont;
    font-size: 1em;
    float: left;
    margin: 0;
  }
  .tab {
    float: left;
  }
  .tab label {
    border: 1px solid #ddd;
    color: $darkAccentColor;
    cursor: pointer;
    padding: .5em 1em;
  }
  .tab label, button[role="tab"] {
    background-color: #c0c0c0;
    border: 1px solid #ddd;
    color: $darkAccentColor;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: .5em 1em;
  }
  button[role="tab"]:focus {
    outline: 4px dotted hotpink;
  }

  // Visually hide radio buttons
  .tab [type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    
    &:focus + label {
      outline: 4px dotted hotpink;
    }
    &:checked ~ label {
      background-color: #fff;
      border-bottom-color: transparent;
      border-right-color: #ddd;
      border-left-color: #ddd;
      border-top-color: $accentColor;
      border-top-width: 5px;
      z-index: 1;
    }
    &:checked ~ label ~ .tab-content {
      z-index: 2;
      opacity: 1;
    }
  }
  .tabSwitcher-ARIA-tabs [aria-selected="true"] {
    background-color: #fff;
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
    border-top-color: $accentColor;
    border-top-width: 5px;
    z-index: 1;
  }
  .tab-content:not[role="tabpanel"] {
    opacity: 0;
  }
  .tab-content,
  [role="tabpanel"] {
    background-color: $fgColor;
    color: $darkAccentColor;
    position: absolute;
    top: 2em; left: 0; right: 0; bottom: 0;
    padding: 1em;
    width: 100%;

    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }
  p, ul, ol, table {
    font-size: 0.8em;
    text-align: left;
  }
}

.css-animation-example {
  text-align: left;
  button {
    font-size: 0.75em;
    margin-top: 1em;
  }
  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }
  .animating p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}
